.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #0de4ff;
  font-weight: bold;
}
h1 {
  margin: 12px;
  font-size: 32px;
}
p {
  font-size: 16px;
  margin-top: 4px;
  text-align: start; 
  margin-left: 37%;
} 
.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
button{
  padding: 10px 20px; 
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #0de4ff;
  border: 2px solid #fff;
  border-radius: 10px;
}
.counter {
  font-size: 10px;
  color: #d2d2d2;
}
.questionnaire{
  position: relative;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
}
.questionnaire table{
  margin: 0 auto;
  border-collapse: collapse;
  text-align: right;
  font-size: 18px;
  color:#fff;
}
.questionnaire table caption {
  margin-top: 30px;
  margin-bottom: 20px;
}
.questionnaire table td{
  border: 2px solid #0de4ff;
  padding: 10px 5px;
}
.questionnaire table tbody td + td{
  text-align: left;
  font-weight: normal;
}